<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-10 mt-4">
            <table mat-table [dataSource]="listData" class="mat-elevation-z8 matTable">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="gender">
                  <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                  <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.phone }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button
                      (click)="openDialogEdit(row)"
                      mat-icon-button
                      aria-label="Example icon button with a vertical three dot icon"
                    >
                      <mat-icon>launch</mat-icon>
                    </button>
                    <button
                      (click)="openDialogDelete(row)"
                      mat-icon-button
                      color="primary"
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
              </table>
        </div>
        <div class="col-2 mt-5">
            <div class="row">
                <div class="col-12">
                    <mat-progress-bar
                    class="progressBar"
                    mode="determinate"
                    [value]="progress"
                  ></mat-progress-bar>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                   Male- {{maleCount}}
                </div>
                <div class="col-6">
                    Female-{{femaleCount}}
                 </div>
            </div>
        </div>
    
    </div>
</div>
<!-- <mat-grid-list cols="4" rowHeight="300px">
  <mat-grid-tile [colspan]="3" [rowspan]="2"> -->

<ng-template #editDailog>
  <h1 mat-dialog-title>Edit Item</h1>
  <div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex. Kunal" name="name" [(ngModel)]="updateItemList.name">
        </mat-form-field> 
          
        <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" name="phone" [(ngModel)]="updateItemList.phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" name="email" [(ngModel)]="updateItemList.email">
          </mat-form-field>

      </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="updateItem(updateItemList)" color="warn" mat-dialog-close>Update</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  </div>
</ng-template>
<ng-template #deleteDailog>
    <h1 mat-dialog-title>Delete Confirmation</h1>
    <div mat-dialog-content>
      Are you sure want to delete this item?
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="deleteItemFromList()" color="warn" mat-dialog-close>Yes</button>
      <button mat-raised-button color="primary" mat-dialog-close>No</button>
    </div>
  </ng-template>

<!-- </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-progress-bar
      class="progressBar"
      mode="determinate"
      value="40"
    ></mat-progress-bar>
  </mat-grid-tile>
</mat-grid-list> -->
